.minHeight {
    min-height: 80vh;
    min-width: 95vw;
    background-color: rgb(224, 224, 235);
    padding-top : 0.2em;
}

h1 {
    color: green;
}
  
body {
    text-align: center;
    margin: auto;
}

.iconStyle {
    color:white;
}

/*image resize and keep aspect ratio*/
.imgMaxHeight {
    display: block;
   /* max-width:230px; */
    max-height:13em;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
